@import url(https://raw.github.com/FortAwesome/Font-Awesome/master/docs/assets/css/font-awesome.min.css);

.search {
    display: flex;
    height: 40px;
    width: 60px;
    border-radius: 40px;
    justify-content: center;
    transition: 0.36s;
}

input[type="text"] {
  height: 40px;
  font-size: 16px;
  display: inline-block;
  font-weight: 200;
  border: none;
  outline: none;
  color: #393939;
  padding: 4px;
  padding-left: 12px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 400px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}
/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
  input[type="text"]:focus {
    width: 400px;
  }
} 

/* 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
  input[type="text"]:focus {
    width: 400px;
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  input[type="text"]:focus {
    width: 320px;
  }
} 

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  input[type="text"]:focus {
    display: none;
  }
}

input[type="submit"] {
  height: 60px;
  width: 60px;
  display: hidden;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

input[type="submit"]:hover {
  opacity: 0.8;
}