@font-face {
  font-family: "OAGothic-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

html,
body {
  width: 100%;
}

.slider {
  margin-top: 8px;
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
}
.slider .wrapper {
  height: 100%;
  /* transition: 0.26s all linear; */
  will-change: transform;
}
.slider .arrows {
  position: absolute;
  margin: 0px 12px 0px 12px;
  top: 50%;
  background: none;
  border: 0;
  cursor: pointer;
  transition: ease 0.26s all;
  outline: none;
}
.slider .arrows.prev {
  left: 0;
}
.slider .arrows.prev:hover {
  opacity: 0.7;
  left: -10px;
}
.slider .arrows.next {
  right: 0;
}
.slider .arrows.next:hover {
  right: -10px;
  opacity: 0.7;
}
.slider .dots-container {
  height: auto;
  margin: 0;
  padding: 0;
  position: absolute;
  width: auto;
  text-align: center;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);
  z-index: 10;
  list-style-type: none;
}
.slider .dots-container li {
  display: inline-block;
  padding: 5px;
}
.slider .dots-container li.active button {
  color: #2e2e2e8a;
}
.slider .dots-container li button {
  color: #ffffff8a;
  background-color: transparent;
  border: none;
}
.slider .dots-container li button:hover {
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer;
}
.slider .toggle-play {
  background: transparent;
  border: none;
  height: auto;
  position: absolute;
  width: auto;
  right: 5%;
  bottom: 8px;
  color: #3d3d3d;
  z-index: 1000000;
}
.slider .toggle-play:hover {
  text-decoration: none;
  opacity: 0.7;
  cursor: pointer;
}
.slider .each-slide {
  width: 100vw;
  height: 60vh;
  float: left;
  line-height: 100vh;
  font-size: 40vh;
  text-align: center;
  background-size: cover;
  background-position: center center;
  background-color: transparent;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.slider .each-slide.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.each-slide {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.each-slide > h1 {
  font-family: "OAGothic-ExtraBold";
  font-size: 24px;
  font-weight: 200;
  color: #ececec;
  margin-bottom: 16rem;
  margin-left: 4rem;
}
